name: GitRag Indexing

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:
    inputs:
      full_scan:
        description: 'Perform a full repository scan?'
        type: boolean
        default: false

jobs:
  index:
    uses: dorphalsig/gitrag/.github/workflows/indexer.yml@master
    with:
      repo: ${{ github.repository }}
      branch: ${{ github.ref_name }}
      db_provider: "libsql"
      full_index: ${{ inputs.full_scan || false }}
    secrets:
      DATABASE_URL: ${{ secrets.TURSO_DATABASE_URL }}
      DB_AUTH_TOKEN: ${{ secrets.TURSO_AUTH_TOKEN }}
